<body style="overflow-x: hidden;">
    <app-navbar height="30px"></app-navbar>

    <div class="row" style="margin-top: 10vh;">
        <div class="col"></div>
        <div class="col text-center"><img src="../../assets/VirusTotalMascot.jpg" height="320" width="320"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-8 col-lg-6 col-md-4" style="font-size: large; padding-left: 2vh; padding-right: 2vh;">
            <div class="text-center">
                <p style="color: black;">
                        Welcome, welcome!
                </p>
            </div>
            <div class="text-center">
                <p style="color: black;">
                    Wondering if a file or URL is malicious? <span style="color: white; font-weight: 400;">TotalVIRUS</span> is here to help you! <br>
                    We search through a huge database for similar files and urls and tell you if a they are dangerous.
                </p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <p></p>
</body>
